@import url(http://fonts.googleapis.com/css?family=Poiret+One|Francois+One);
h1{
  font-family: Poiret One;
  font-style: italic;
  text-align: center;
  margin-left: 3.5%;
  margin-bottom: 3%;
  margin-top: 110px;
  
}

ul li {
  display: inline-block;
  width: 33%;
  list-style-type: none;
  text-align: center;
  font-family: Francois One;
  margin-bottom: 1%;
}

img{
  border-radius: 100%;
  border: dashed 2px black;
}

#flat img{
  border: none;
  width: 40%;
  margin: auto;
}

#flat{
  width: 10%;
}

div.buttons{
  background-color: #C1C1C1;
  top: 0;
  position: absolute;
  height: 75px;
  padding-bottom: 6px;
  width: 100%;
  margin-left: -10px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.bumpup{
  top: -20px;
  position: relative;
  text-decoration: none;
  color: black;
}

img#billy{
  border-radius: 0%;
  border: solid black 2px;
  width: 30%;
  float: left;
  margin: 0 auto;
  margin-left: 14%;
}

h2{
  font-family: "Francois One";
  text-align: center;
  margin-top: 2%;
}

#bgp{
  float: left;
  width: 35%;
  font-family: Francois One;
  margin: auto;
  margin-top: 1%;
  text-align: left;
  padding: 0 0 0 9%;
}

div.gossip{
  margin: auto;
  text-align: center;
}


/* div.buttons ul li:nth-child(3){
  width: 25%;
} */